.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.tableData {
  margin: 2em auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: black;
}
.confirm {
  color: red;
  display: flex;
}
